* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: sans-serif;
  margin-top: 0;
  width: 100%;
}

header {
  background-color: rgb(15, 53, 205);
  display: block;
  height: 40px;
  width: 46%;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  header {
    width: 80%;
  }
}

a {
  text-decoration: none;
}

.title {
  text-align: center;
  color: rgb(15, 53, 205);
  margin: 10px auto;
}

@media screen and (max-width: 800px) {
  .title {
    width: 80%;
    font-size: 125%;
  }
}

.topic-date {
  width: 46%;
  margin: 0 auto;
}

.topic-date p {
  display: inline;
  line-height: 180%;
}

@media screen and (max-width: 800px) {
  .topic-date {
    width: 80%;
  }
}

#html {
  margin-left: 30px;
}

#date {
  margin-left: 116px;
}

.list-study {
  border: 1px solid gray;
  width: 46%;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .list-study {
    width: 80%;
  }
}

.list-study div {
  padding: 14px;
}

li:hover {
  display: inline;
  background-color: rgb(15, 53, 205, 0.5);
  transition-duration: 0.7s;
  border-radius: 5%;
}

.list-study ul li {
  line-height: 170%;
}

.list-study div h4 {
  color: rgb(15, 53, 205);
}
/*  */
